<!--<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>next one</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>

<body>
<a href="/">
    <img class="logo" src="/images/logo.png" alt="Logo">
</a>
<div th:if="${collection_type.name() == 'WATCHLIST'}">
    <h1><span th:text="${#authentication.getPrincipal().getUsername()}">user</span>'s Watchlist</h1>
</div>
<div th:if="${collection_type.name() == 'LIKED'}">
    <h1><span th:text="${#authentication.getPrincipal().getUsername()}">user</span> likes:</h1>
</div>
<div th:if="${collection_type.name() == 'SEARCH_TITLE'}">
    <h1>Results for '<span th:text="${title_searched}">title</span>':</h1>
</div>
<div th:if="${collection_type.name() == 'COMPARE_WATCHLIST'}">
    <h1>You and <span th:text="${friend}">title</span> both watched:</h1>
</div>


<h1 th:text="${header}">header missing</h1>

<table>
    <thead>
    <tr>
        <!--                <th>tmdbId</th>-->
        <th>Title</th>
        <th>release year</th>
        <th>Genres</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:object="${movie}" th:each="movie : ${movies}">

        <!--                <td th:text="*{tmdbId}"></td>-->
        <td><a th:href="@{'/movie/{id}'(id=*{id})}" th:text="*{title}">title</a></td>
        <td th:text="*{releaseYear}"></td>
        <td th:text="${#strings.arrayJoin(movie.genres.![name], ', ')}"></td>
        <div th:if="${collection_type.name() == 'WATCHLIST'}">
            <td>
                <form action="#" th:action="@{'/watchlist/{id}'(id=*{id})}" th:method="GET">
                    <button type="submit" class="btn">remove</button>
                </form>
            </td>
        </div>
        <div th:if="${collection_type.name() == 'LIKED'}">
            <td>
                <form action="#" th:action="@{'/liked/{id}'(id=*{id})}" th:method="GET">
                    <button type="submit" class="btn">remove</button>
                </form>
            </td>
        </div>

        <!--                <td><a th:href="@{'/watchlist/{id}'(id=*{id})}"><button type="submit"> remove</button></a></td>-->
    </tr>
    </tbody>
</table>

</body>
</html>