<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>next one</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body th:object="${movie}">
<a href="/">
    <img class="logo" src="/images/logo.png" alt="Logo">
</a>
<h1 th:text="*{title}">title missing</h1>

<ul>
    <li class="movie-item">
        <a class="movie-title">
            <span th:text="${movie.title}" ></span>
        </a>

        <a th:href="'https://www.themoviedb.org/movie/' + ${movie.tmdbId}" class="movie-title">
            <img th:src="'http://image.tmdb.org/t/p/original/' + ${movie.posterPath}" alt="Movie Poster"
                 class="movie-poster">
        </a>
        <div class="forms">
            <div sec:authorize="isAuthenticated()">
                <form th:action="@{/watchlist/{id}(id=${movie.id})}" th:method="POST" class="inline-form">
                    <button type="submit">Add to Watchlist</button>
                </form>
                <form th:action="@{/liked/{id}(id=${movie.id})}" th:method="POST" class="inline-form">
                    <button type="submit">Like Movie</button>
                </form>
            </div>
            <form th:action="@{/recommendations(tmdbId=${movie.tmdbId})}" th:method="GET" class="inline-form">
                <input type="hidden" name="tmdbId" th:value="${movie.tmdbId}"/>
                <button type="submit">Recommendations</button>
            </form>
        </div>
    </li>
</ul>

<div class="movie-description">
    <p>released: <span th:text="*{releaseYear}">oops!</span></p>
    <p>Genres: <span th:text="${#strings.arrayJoin(movie.genres.![name], ', ')}">oops!</span></p>
    <p class="summary"><span th:text="*{overview}">sorry, there is no summary available</span></p>


    <form action="#" th:action="@{/recommendations(tmdbId=${movie.tmdbId})}" th:method="POST">
        <button type="submit" class="btn">find recommendations based on <span th:text="*{title}">oops!</span></button>
    </form>
</div>

</body>
</html>